In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [2]:
data = pd.read_csv('tb2_data_sample.csv')
data.head()

   NO       MMSI        LAT         LON   TIMESTAMP
0   1  994080063  -5.884088  137.317055  1621911328
1   2  994071875  81.626595  -44.496028  1621907740
2   3  994071398  89.781245  -43.996348  1621910741
3   4  994071322  -5.555122  135.582663  1621911290
4   5  994071292  -7.422388  133.898840  1621910145

In [3]:
data.iloc[:,2:4].head()

         LAT         LON
0  -5.884088  137.317055
1  81.626595  -44.496028
2  89.781245  -43.996348
3  -5.555122  135.582663
4  -7.422388  133.898840

In [4]:
data.values

array([[ 1.00000000e+00,  9.94080063e+08, -5.88408833e+00,
         1.37317055e+02,  1.62191133e+09],
       [ 2.00000000e+00,  9.94071875e+08,  8.16265950e+01,
        -4.44960283e+01,  1.62190774e+09],
       [ 3.00000000e+00,  9.94071398e+08,  8.97812450e+01,
        -4.39963483e+01,  1.62191074e+09],
       ...,
       [ 4.99980000e+04,  5.25006220e+08, -6.07508500e+00,
         1.06885825e+02,  1.62190892e+09],
       [ 4.99990000e+04,  5.25006220e+08, -6.07508333e+00,
         1.06885828e+02,  1.62190891e+09],
       [ 5.00000000e+04,  5.25006220e+08, -6.07505500e+00,
         1.06885873e+02,  1.62190867e+09]])

In [ ]:
Sum_of_squared_distances = []
K = range(1,50)
for k in K:
    km = KMeans(n_clusters=k)
    km = km.fit(data.values)
    Sum_of_squared_distances.append(km.inertia_)

In [ ]:
plt.plot(K, Sum_of_squared_distances, 'bx-')
plt.xlabel('k')
plt.ylabel('Sum_of_squared_distances')
plt.title('Elbow Method For Optimal k')
plt.show()